# Ignore Jupyter Notebook checkpoints and Python cache
.ipynb_checkpoints/
__pycache__/

# Ignore specific files
Sesi_24-Assignment/london_crime_by_lsoa.csv
Assignment_31/nyc-rolling-sales.csv

# Ignore files in subdirectories
*/.ipynb_checkpoints/
*/__pycache__/
